<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <form action="https://us-central1-sandbox-289103.cloudfunctions.net/function-1" method="post">
        <div>
            <input type="file" name="" id="" accept="image/*">
        </div>
        <div>
            <input type="button" value="Upload">
        </div>
    </form>
    <script>
        (function (window, document, undefined) {
            'use strict';
            window.addEventListener('DOMContentLoaded', event => {
                const uploadForm = document.querySelector('form');
                const uploadBtn = document.querySelector('input[type=button][value=Upload]');
                uploadBtn.addEventListener('click', async event => {
                    const token = await fetch('/api/token')
                    const formData = new FormData();
                    const fileField = document.querySelector('input[type=file]');
                    formData.append('uploadedFile', fileField.files[0]);
                    const result = await fetch(uploadForm.action, {
                        method: 'POST',
                        mode: 'cors',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                        },
                        body: formData,
                    })
                    .then(response => response.json());
                    // TODO result should contain gcs filename
                });
            });
        })(window, document);
    </script>
</body>
</html>